@font-face {
    font-family: 'Open_Sans';
    src: url(../fonts/OpenSans-Regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Righteous';
    src: url(../fonts/Righteous-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Cirqua';
    src: url(../fonts/Lupanesque.ttf) format('truetype');
}

html {
    position: relative;
}

body {
    margin-bottom: 100px;
    font-family: 'Open_Sans';
    color: #33495F;
}

nav {
    transition: all ease 400ms;
}

hr {
    width: 100px;
    border-top: 1.3px solid goldenrod;
}

section {
    min-height: 100vh;
    padding-bottom: 50px;
}

section h2:first-child {
    font-weight: 900;
}

@media screen and (max-width:768px) {
    .mb {
        margin-bottom: 50px;
    }
}

@media screen and (min-width:1366px) {
    .col-md-6 {
        width: 55%;
    }
}

.occupation-text {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
}

.button-up {
    width: 70px;
    height: 70px;
    background-color: #33495F;
    position: fixed;
    border-radius: 50%;
    right: 2.3vw;
    bottom: 3vh;
    z-index: 1;
    color: #ECF0F2;
    font-weight: 900;
    box-shadow: 0px 1px 18px 1px rgba(0, 0, 0, 0.3);
    transform: scale(0) rotate(0);
    transition: transform cubic-bezier(.52, -0.35, .5, 1.42) 500ms;
    text-align: center;
}

.button-up:hover {
    color: goldenrod;
    text-decoration: none;
}

.button-up i {
    line-height: 70px;
    font-size: 30px;
    margin-left: -2px;
}

.button-up span {
    font-size: 10px;
    display: block;
}

/* Navbar Section */
.navbar {
    padding: 10px;
    opacity: 1;
    background-color: rgba(51, 73, 95, 0);
    height: 0;
}

.navbar-brand img {
    width: 40px;
}

.scroll {
    padding: 0;
    background-color: rgba(51, 73, 95, 1);
    box-shadow: 0px 18px 18px 0 rgba(0, 0, 0, 0.3);
    ;
}

.toggle-click {
    background-color: rgba(51, 73, 95, .9);
    height: 100vh;
}

.navbar .navbar-header a {
    font-family: 'Cirqua', cursive;
    font-weight: 900;
    font-size: 25px;
    color: goldenrod;
    letter-spacing: 5px;
}

.navbar .navbar-nav>li>a {
    color: #ECF0F2;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    transition: all ease 300ms;
    display: inline-block;
}

.navbar-fixed-top .navbar-nav>li>a:hover,
.navbar-fixed-top .navbar-nav>li>a:focus {
    color: goldenrod;
    font-size: 40px;
}

.navbar-nav {
    width: fit-content;
    text-align: center;
    margin: auto;
}

.collapse p {
    color: #ECF0F2;
    padding-bottom: 50px;
}

/* End Navbar Section */

/* Jumbotron Section */
.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.jumbotron h1 {
    font-family: 'Righteous', cursive;
    font-weight: 900;
    color: #ECF0F2;
}

.jumbotron p {
    color: #ECF0F2;
}

.jumbotron .pasFoto {
    border: 3px solid #33495F;
    width: 200px;
}

@media screen and (max-width:768px) {
    .jumbotron p {
        font-size: 18px;
    }
}

/* End Jumbotron Section */

/* About Section */
.about {
    background-color: #33495F;
    color: #ECF0F2;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.about hr {
    margin: 10px 0 25px;
    width: 100px;
}

.about img {
    width: 300px;
    box-shadow: 1px 1px 2px 9px #33495F, 0.6px 0.6px 4px 7px black;
    border-radius: 5px;
    filter: saturate(.9);
}

.about i {
    font-weight: bold;
    color: #DAA520;
    font-style: normal;
}

.box-details {
    margin-top: 30px;
    border: 1px solid goldenrod;
    padding: 20px;
    border-radius: 5px;
}

.btn-cv {
    margin-top: 20px;
    color: #ECF0F2;
    padding: 10px;
    font-weight: 900;
    border: 1px solid white;
    background: linear-gradient(to right, goldenrod 50%, transparent 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all ease-out 300ms;
}

.btn-cv:hover {
    color: white;
    border: 1px solid goldenrod;
    background-position: left bottom;

}

@media screen and (min-width:992px) {
    .about h2 {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:992px) {
    .about h2 {
        text-align: center;
    }

    .about hr {
        margin: 0 auto 25px;
    }
}

@media screen and (min-width:1366px) {
    .about h2 {
        font-size: 60px;
    }

    .about p {
        font-size: 20px;
    }

    .box-details p {
        font-size: 16px;
    }
}

/* End About Section */

/* Resume Section */
.dot {
    display: inline-block;
    position: absolute;
    background-color: #DAA520;
    border-radius: 10px;
    border: 2px solid #DAA520;
    z-index: 2;
    width: 12px;
    height: 12px;
}

.line {
    display: inline-block;
    position: absolute;
    background-color: #DAA520;
    border-radius: 10px;
    width: 36px;
    height: 1px;
    border: 2px solid #DAA520;
    z-index: 2;
}

.dot-right {
    top: 50%;
    right: -43px;
    transform: translateY(-35%);
}

.dot-left {
    top: 50%;
    left: -43px;
    transform: translateY(-35%);
}

.line-right {
    top: 50%;
    right: -36px;
}

.line-left {
    top: 50%;
    left: -36px;
}

.resume {
    background-color: #ECF0F2;
}

.content {
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    position: relative;
}

.left-wrapper {
    border-right: 1px dotted #33495F;
}

.right-wrapper {
    border-left: 1px dotted #33495F
}

.content h3 {
    font-style: italic;
    font-weight: 900;
}

.fa-circle-check {
    color: #1fc016;
}

.content h3,
.content p {
    color: #DAA520;

}

.content h3 {
    margin: 0 0 10px;
    font-size: 26px;
}

.edu {
    margin-right: 35px;
    box-shadow: -18px 18px 18px 0 rgba(0, 0, 0, 0.2);
    border-right: 2px solid goldenrod;
}

.work-ex {
    margin-left: 35px;
    box-shadow: 18px 18px 18px 0 rgba(0, 0, 0, 0.2);
    border-left: 2px solid goldenrod;
}

/* End Resume Section */

/* Portfolio Section */
.portfolio {
    background-color: #33495F;
    max-height: 10vh;
    overflow-y: hidden;
    position: relative;
}

.portfolio .row:last-child {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .col-sm-6 {
    display: flex;
}

.portfolio .thumbnail {
    width: 100%;
    padding: 0;
    border: none;
    background-color: none;
    border-radius: 0%;
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
}

.portfolio h2 {
    color: #ECF0F2;
}

.portfolio img {
    width: 100%;
}

.btn-load-more {
    padding: 12px 16px;
    line-height: 1.4;
    background: #33495F;
    border-radius: 5px;
    border: 1px solid #fff;
    /* font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif; */
    color: white !important;
    font-size: 1.2em;
    cursor: pointer;
    /* Important part */
    transition: padding-right .3s ease-out;
}

.wrap-btn-load-more {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    padding-bottom: 10rem;
    backdrop-filter: blur(5px);
}

/* End Portfolio Section */

/* Skills Section */
/* - technical skill - */
.skills p {
    margin: 0;
    font-weight: 900;
    font-size: 15px;
}

.scale-of {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 4px 0 10px 0;
    line-height: 100%;
}

.pro {
    margin: 0;
}

.skill {
    color: white;
    padding-left: 30px;
}

.round {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-color: #DAA520;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    right: -15px;
    line-height: 40px;
    align-items: center;
    text-align: center;
}

.html-logo {
    background-image: url(../img/logo-html.png);
}

.css-logo {
    background-image: url(../img/logo-css.png);
}

.js-logo {
    background-image: url(../img/logo-js.png);
}

.php-logo {
    background-image: url(../img/logo-php.png);
}

.laravel-logo {
    background-image: url(../img/logo-laravel.png);
}

.livewire-logo {
    background-image: url(../img/logo-livewire.png);
    background-position: center;
    background-color: #fb73ac;
}

.vue-logo {
    background-image: url(../img/Vue-JS-logo.png);
    background-color: #44bb84;
}

.vb-logo {
    background-image: url(../img/logo-vb.png);
}

.java-logo {
    background-image: url(../img/logo-java.png);
}

.dart-logo {
    background-image: url(../img/logo-dart.png);
    background-color: #21CCBF;
}

.html {
    width: 90%;
    background-color: #E44D26;
    position: relative;
}

.css {
    width: 90%;
    background-color: #379AD6;
    position: relative;
}

.js {
    width: 80%;
    background-color: #FADF1C;
    position: relative;
}

.php {
    width: 80%;
    background-color: #4F5B93;
    position: relative;
}

.laravel {
    width: 80%;
    background-color: #F35045;
    position: relative;
}

.livewire {
    width: 80%;
    background-color: #fb73ac;
    position: relative;
}

.vue {
    width: 70%;
    background-color: #44bb84;
    position: relative;
}

.vb {
    width: 70%;
    background-color: #136099;
    position: relative;
}

.java {
    width: 70%;
    background-color: #DD3E68;
    position: relative;
}

.dart {
    width: 70%;
    background-color: #21CCBF;
    position: relative;
}

/* - professional skill - */
.skills .table td {
    border: none;
    font-size: 15px;
    font-weight: 900;
}

.skills .table td.skill-name {
    width: 30%;
}

.skills .table td.skill-bar {
    width: 100%;
}

.communication {
    width: 80%;
    height: 13px;
    background-color: #DAA520;
    position: relative;
}

.team-work {
    width: 80%;
    height: 13px;
    background-color: #DAA520;
    position: relative;
}

.motivate {
    width: 80%;
    height: 13px;
    background-color: #DAA520;
    position: relative;
}

.confidence {
    width: 80%;
    height: 13px;
    background-color: #DAA520;
    position: relative;
}

.ability-to-learn {
    width: 80%;
    height: 13px;
    background-color: #DAA520;
    position: relative;
}

.creative {
    width: 80%;
    height: 13px;
    background-color: #DAA520;
    position: relative;
}

/* End Skills Section */

/* Contact Section */
section.contact {
    background-color: #141B21;
    color: #ECF0F2;
    display: flex;
    align-items: center;
}

.contact form {
    width: 40%;
    margin: 0 auto;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    position: absolute;
    color: #33495F;
    opacity: 0.5;
    top: 6px;
    left: 12px;
    transition: all ease 300ms;
}

.form-group label:hover {
    cursor: text;
}

.form-group .style {
    font-size: 12px;
    top: -20px;
    left: 0;
    font-weight: 700;
    color: goldenrod;
    opacity: 1;
}

.contact input:focus,
.contact textarea:focus {
    border: 1px solid goldenrod;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px goldenrod;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px goldenrod;
}

.contact textarea {
    height: 100px;
}

.resultForm {
    background-color: #ECF0F2;
    color: #33495F;
    text-align: center;
}

.btn-send-contact {
    width: 100%;
    color: #ECF0F2;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ECF0F2;
    font-weight: 900;
    transition: all ease 300ms;
}

.btn-send-contact:hover {
    background-color: goldenrod;
    border: 1px solid goldenrod;
}

@media screen and (max-width:768px) {
    .contact form {
        width: 92vw;
    }
}

@media screen and (min-width:1366px) {
    .contact form {
        width: 35%;
    }
}

/* End Contact Sectiom */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: #33495F;
    color: #ECF0F2;
    padding: 30px 0;
}

footer a {
    color: goldenrod;

}

.social-media a {
    padding: 0.2em;
    color: #ECF0F2;
    transition: 300ms;
}

.social-media a:hover,
.social-media a:focus {
    color: goldenrod;
    background: #ffffff1a;
    text-decoration: none;
    border-radius: 10px;
}

footer p a:hover {
    color: goldenrod;
    text-decoration: underline;
}