@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.otf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

body {
    font-family: 'Poppins';
}

section {
    min-height: 100vh;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}


/* Jumbotron */
.jumbotron {
    min-height: 100vh;
    margin-bottom: 0;
    background: linear-gradient(rgb(3, 226, 22) , rgb(255, 255, 255) 100%);
}

.jumbotron h1 {
    font-weight: 900;
}

.jumbotron-container {
    padding: 0 6rem;
}

.btn-jumbotron {
    background-color: rgb(0, 202, 17);
    color: white;
}
/* End Jumbotron */

/* Product */
.product {
    padding: 50px 100px;
}

.product .col-sm-4 {
    margin-bottom: 20px;
}

.product .card {
    border: none;
    box-sizing: content-box;
}

.product .card:hover {
    border: 1px solid rgb(0, 255, 21);
}

/* End Product */

/* Gallery */
.gallery {
    background: linear-gradient(rgb(255, 255, 255)10%, rgb(3, 226, 22) 50%, rgb(3, 226, 22) 80%, rgb(255, 255, 255) 100%);
    min-height: fit-content;
    padding: 4rem;
}

.gallery hr {
    width: 65%;
}

.gallery .carousel-inner {
    width: 65%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #aaa;
}
/* End Gallery */

/* About */
.about {
    min-height: fit-content;
    padding: 4rem;
}
/* End About */

/* Footer */
footer {
    background-color: rgb(3, 226, 22);
    min-height: 10vh;
}
/* End Footer */